@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* z-index: 9999999999999999999999999999999999999999999999999999999999999; */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  /* background-position: fixed; */
  /* border: 0.5rem solid greenyellow; */
  /* backgr: url("DimwittedSinfulArcticfox-mobile.mp4"); */
  /* border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%; */
}

.video {
  /* height: 100vh; */
  position: fixed;
  z-index: -5;
  width: 100vw;
  /* background-size: cover; */
}

h1 {
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;

  transition: 0.5s ease-in-out;
}

nav a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: aqua;
}

.hero-section {
  height: 100%;
  /* width: 60vw; */
  padding: 0 10rem;
  /* background-color: #888; */
  display: flex;
  /* gap: 5rem; */
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.intro-h {
  color: #fff;
  font-size: 5rem;
}
.name {
  /* color: aqua; */
  /* background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c); */
  /* background: #24c6dc; */
  background: -webkit-linear-gradient(45deg, #80ff72, #7ee8fa);
  background: linear-gradient(45deg, #80ff72, #7ee8fa);
  font-family: "Rubik";
  /* margin-bottom: 1rem; */
  font-size: 6rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 255, 255, 0.35) 1px 0 20px;
  /* font-size: 5rem; */
}

.intro .img {
  font-size: 5rem;
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.terminal {
  position: absolute;
  right: 0;
  top: 25vh;
  height: 50vh;
  z-index: 20;
}

.whiteshadow {
  z-index: 10;
  position: absolute;
  right: 4.15vw;
  top: 29.2vh;
  height: 40.8vh;
  width: 33vw;
  /* background-color: aqua; */
  box-shadow: 0 0 10rem rgba(0, 255, 255, 0.35);
}

.Iam {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.Iam p {
  margin-top: 1rem;
  font-size: 3rem;
  color: #fff;
}

#type {
  /* position: relative; */
  font-size: 3rem;
  color: #e67e22;
  /* color: #fff; */
}
/* @keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
.typed-cursor {
  animation: typedjsBlink 0.7s infinite;
} */

#type::after {
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 20.0rem; */
  /* padding-bottom: 1000.0rem; */
  content: "|";
  font-weight: 900;
  font-size: 4rem;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  position: relative;
}
.scroll-downs {
  position: absolute;
  z-index: 99;
  top: 85vh;
  /* bottom: 5rem; */
  right: 48.5vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 5.9rem;
}
.mousey {
  width: 0.3rem;
  padding: 1rem 1.5rem;
  height: 3.5rem;
  border: 0.2rem solid #fff;
  border-radius: 2.5rem;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 0.3rem;
  height: 1rem;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1.5rem);
    opacity: 0;
  }
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 0.282) !important;
  padding: 1.5rem 6rem;
  backdrop-filter: blur(10px);
  z-index: 99999;
  transition: 0.5s ease-in-out;
}
body {
  position: relative;
}

.loading {
  position: absolute;
  z-index: 9999999999999;
  /* left: 47.5vw; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #fff; */
  backdrop-filter: blur(5px);
  /* border-radius: 50%; */
}

:root {
  --main-color: #ecf0f1;
  --point-color: #fff;
  --size: 5px;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.loader__element:nth-child(1) {
  /* border: var(--size) solid #e67e22; */
  border: var(--size) solid cyan;
  /* background-color: #e67e22; */
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  border: var(--size) solid cyan;
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  border: var(--size) solid cyan;
  /* border: var(--size) solid #e67e22; */
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

.op {
  opacity: 0;
}
.button {
  font-size: 1.6rem;
  color: #48c4f2;
  padding: 8px 20px;
  background: transparent;
  margin-right: 15px;
  border-image: linear-gradient(to right, #3acfd5 0%, #87dab7 100%);
  border-image-slice: 1;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
}

.button:hover {
  /* transition: all 0.3s ease-in-out; */
  background-image: linear-gradient(to right, #3acfd5 0%, #87dab7 100%);
  color: #fff;
}
.tech {
  /* margin-top: 20vh; */
  /* padding: 5rem; */
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;

  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  /* background-color: #3acfd5; */
}

.tech h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.container-tech {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  height: 85%;
  width: 80%;
  padding: 3rem;
  border-radius: 10px;

  box-shadow: 0 0 10rem rgba(0, 255, 255, 0.3);
}

.techs {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  /* align-items: ; */
}

li {
  color: #fff;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem; */
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tech-p {
  color: #fff;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.8rem;
  max-width: 15rem;
  /* display: inline-block; */
  overflow: hidden;
  white-space: nowrap;
}

.bar {
  color: #fff;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  /* padding: 1rem; */
  height: 4.05rem;
  /* justify-self: flex-end; */
  /* width: 90%; */
  /* height: 0.4rem; */
  /* background-color: #999; */
  /* border-radius: 7px; */
}

.bar div {
  height: 100%;
  /* background-color: #3acfd5; */
  background-image: linear-gradient(to right, #3acfd5 0%, #87dab7 100%);

  border-radius: 8px;
}
.html {
  width: 90%;
}
.css {
  width: 80%;
}
.bootstrap {
  width: 50%;
}

.js {
  width: 70%;
}
.nodejs {
  width: 80%;
}
.mongodb {
  width: 40%;
}

.reactjs {
  width: 20%;
}
.flask {
  width: 60%;
}

.tech-p:hover {
  transform: translateY(-1rem);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.2);
  background-color: #999;
}

.bar:hover {
  transition: all 0.3s ease-in-out;
  background-color: #777;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;

  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.project-h1 {
  font-size: 5rem;
}

.project {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.proj {
  width: 40rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}
.proj:hover {
  transform: translateY(-5rem);
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease-in-out;
}
.primg {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.proj img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 40rem;
}
.proj img:hover {
  /* transform: scale(1.14); */
  transition: all 0.5s ease-in-out;
  /* background-color: #3acfd5; */
}

.proj-content {
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
  padding: 1.5rem;
  gap: 3rem;
}

.projname {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1rem;
}

.projpara {
  color: #ababab;
  font-size: 1.2rem;
  font-weight: 100;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
ion-icon {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
ion-icon:hover {
  color: #3acfd5;
}

.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.section-cta {
  margin-top: 80px;
  padding: 48px 0 128px 0;
  margin-bottom: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.cta {
  display: grid;
  grid-template-columns: 2fr;
  /* background-color: #e67e22; */
  /* box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 0 60px rgba(0, 255, 255, 0.3);
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(to right, #3acfd5 0%, #87dab7 100%); */
  /* height: 50rem; */
  overflow: hidden;
}
/* 
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 70, 0.34),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
} */

.cta-text-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  padding: 48px 64px 64px 64px;
}

.cta-text {
  color: rgb(186, 186, 186);
  font-size: 18px;
  line-height: 1.6;
  margin: 48px 0;
}
.cta .heading-secondary {
  color: #fff;
  margin-bottom: 22px;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 23px;
}

.cta-form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #fff;
  /* border-radius: 9px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.container-1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 32px;
}

.cont {
  font-size: 44px;
}
.btn-form {
  background-color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fdf2e9;
  padding: 1.2rem 9.4rem;
  align-self: end;
  justify-self: flex-start;
}

.btn-form:hover {
  background-color: #999;
  color: #000;
  /* color: #555; */
}

textarea {
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

footer {
  width: 100%;
  height: 5rem;
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}

op {
  font-size: 2rem;
}

footer a {
  color: #fff;
  font-size: 2rem;
  font-family: "Zen Dots";
  text-decoration: none;
}

footer a:hover {
  color: #999;
}

.nav-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: cyan;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-a:hover:after {
  width: 100%;
  left: 0;
}

.navbar a {
  display: inline-block;
  position: relative;
}
